html, body {
    background: url(../img/bgCocora.jpg) center center no-repeat;
    height: 100%;
    background-size: cover;

}

@media(min-width:321px)
    and (max-width:568px){

        html, body{
            background-size: auto;
        }
    }


#logo img{
    padding-top: 50px;
    max-width:15%;
    height:auto;

}
#intro p {
    padding-top: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5em;
    font-weight: 900;

}

#counter .countdown {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Major Mono Display', monospace;
    font-size: 1em;
    margin: -15px 0 0;
}

#icons{
    padding-top: 30px;
}

#icons li .twitter{
    padding: 15px;
    color: white;
    position: relative;
    bottom: 0;
    transition: all 200ms ease-in-out;
    
}

#icons li .github{
    padding: 15px;
    color: white;
    position: relative;
    bottom: 0;
    transition: all 200ms ease-in-out;
    
}

#icons li .instagram{
    padding: 15px;
    color: white;
    position: relative;
    bottom: 0;
    transition: all 200ms ease-in-out;
    
}

#icons li .twitter:hover{
    bottom: 10px;
    color: #00acee;
}

#icons li .github:hover{
    bottom: 10px;
    color: #bd2c00;
}

#icons li .instagram:hover{
    bottom: 10px;
    color: #517fa6;
}

blockquote {
    font-family: monospace;
    font-size: 20px;
    color: aliceblue;
    margin: 5px 50px;

}